.table__container {
  display: flex;
  /* overflow: hidden; */
  width: 98%;
  height: 90vh;
}
.table__left {
  flex: 1;
}
.table__right {
  flex: 3;
  height: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.top > button {
  display: none;
  border: none;
  background-image: url(../Asserts/list.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  width: 25px;
  height: 25px;
}

.table {
  /* position: absolute; */
  color: whitesmoke;
  border-spacing: 0px;
  width: 100%;
  height: 80vh;
}

.heading {
  color: white;
}

.heading > span {
  color: rgba(244, 103, 31, 1);
}

.table__headings > tr {
  text-align: center;
  background-color: #282729;
  padding: 24px;
}

th,
tr,
td {
  padding: 1.5rem;
  color: whitesmoke;
}
th {
  background: rgba(40, 39, 41, 1);
}

tbody {
  text-align: center;
}

td {
  background: rgba(31, 30, 31, 1);
}
tr:last-child td {
  padding-block: 1.5rem;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}
tr:last-child > td:first-child > button {
  border: none;
  background-color: inherit;
}
tr:last-child > td:last-child > button {
  border: none;
  background-color: inherit;
}
thead tr th:first-child {
  border-top-left-radius: 1rem;
}
thead tr th:last-child {
  border-top-right-radius: 1rem;
}
tbody tr td {
  color: rgba(137, 134, 141, 1);
}
tbody tr td:first-child {
  color: white;
}

@media (max-width: 750px) {
  .table__container {
    display: inline-flex;
    /* margin: 0.5rem; */
    width: 100%;
  }
  .top{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .table__left {
    max-width: 0%;
  }
  .top > button {
    display: block;
    z-index: 9999;
  }
  .top > button[aria-expanded="true"] {
    background-image: url(../Asserts/cross-23.svg);
  }
  th,
  tr,
  td {
    padding: 0.5rem;
    color: whitesmoke;
  }
}
